* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#menu {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background: #eeeeee;
}

#background,#background2 {
  height: 500px;
  width: 100%;
  background-image: url('bg.png');
  background-repeat: repeat-x;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(200,200,200,.25);
}

#background2{
  top: 50px;
  background-color: rgba(200,200,200,.25);
  background-image: url('bg.png');
}

#paper{
  position: relative;
  z-index: 1;
}
